.chats-page {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #e5ddd5;
    background-image: url('https://media.istockphoto.com/id/1403848173/vector/vector-online-chatting-pattern-online-chatting-seamless-background.jpg?s=612x612&w=0&k=20&c=W3O15mtJiNlJuIgU6S9ZlnzM_yCE27eqwTCfXGYwCSo=');
    background-size: cover; 

    background-position: center; 
  }
  
  .chat-header {
    padding: 10px;
    background-color: rgba(7, 94, 84, 0.9); 
    color: white;
    text-align: center;
  }
  
  .chat-window {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.8); 
    border-radius: 10px; 
    margin: 10px;
  }
  
  .message {
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    max-width: 60%;
    position: relative;
  }
  
  .message.yo {
    align-self: flex-end;
    background-color: #dcf8c6;
  }
  
  .message.contacto {
    align-self: flex-start;
    background-color: #ffffff;
    border: 1px solid #e5ddd5;
  }
  
  .message-text {
    font-size: 14px;
  }
  
  .message-info {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 12px;
    color: #888;
    margin-top: 5px;
  }
  
  .message-time {
    margin-right: 10px;
  }
  
  .message-input-container {
    display: flex;
    padding: 10px;
    background-color: #f1f1f1;
    border-top: 1px solid #ccc;
  }
  
  .message-input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
    font-size: 14px;
  }
  
  .send-button {
    padding: 10px 20px;
    border: none;
    background-color: #5e0741; 
    color: rgb(255, 255, 255);
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
  }
  
  .send-button:hover {
    background-color: #0b7a75;
  }
