.bottom-navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 60px;
  background-color: #075e54;
  color: white;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
}

.navbar-item {
  flex: 1;
  text-align: center;
  text-decoration: none;
  color: white;
  font-size: 12px;
}

.navbar-item i {
  display: block;
  font-size: 1.5em;
}

.navbar-item span {
  display: block;
  margin-top: 5px;
  font-size: 0.8em;
}

.navbar-item:hover {
  background-color: #128c7e;
}

@media (min-width: 768px) {
  .bottom-navbar {
    height: 70px;
  }

  .navbar-item i {
    font-size: 2em;
  }

  .navbar-item span {
    font-size: 1em;
  }
}